footer
  .container.text-center
    p.pull-left © 2014 Bazaarvoice, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bazaarvoice/hacktoberfest-circulate/') GitHub Project
      li
        a(href='https://github.com/bazaarvoice/hacktoberfest-circulate/issues') Issues