extends layout

block content
  div.wrapper
  h1 Circulate.it
  p.lead Stand out from the noise. Be human.
  hr
  a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
    i.fa.fa-twitter
    | Sign in with Twitter
  a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
    i.fa.fa-facebook
    | Sign in with Facebook
  a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
    i.fa.fa-google-plus
    | Sign in with Google
  a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
    i.fa.fa-instagram
    | Sign in with Instagram